<!-- Header -->
<div id="header-wrapper">
  <header id="header" class="container">
    <!-- Logo -->
    <div id="logo">
      <h1>@Html.ActionLink("Sft", "Index", "Home")</h1>
      <span class="not-1000px">Serenity falls township</span>
    </div>
    @Html.Partial("_Navigation")
  </header>
</div>
