	<!-- Footer -->
			<div id="footer-wrapper">
				<footer id="footer" class="container">
					
					<div class="row">
						<div class="12u">
							<div id="copyright">
								<ul class="menu">
									<li>&copy; SFT. All rights reserved</li><li>Design: Ellis Fiorentino</li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
			</div>
