<!-- Header -->
<div id="header-wrapper">
  <header id="header" class="container">
    <!-- Logo -->
    <div id="logo">
      <h1><a href="/">Sft</a></h1>
    </div>
    @Html.Partial("_Navigation")
  </header>
</div>
