@{
  ViewBag.Title = "About";
  Layout = "~/Views/Shared/_RightSideBarLayout.cshtml";
  ViewBag.PageTitle = "about";
}
@section meta {
    <meta name="robots" content="index, follow" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:title" content="SFT - @ViewBag.Title" />
    <meta property="og:description" content="Serenity falls is a where the heart calls home. Serenity Falls, owned and operated by the Fiorentino/Bloodwyne family, is a commitment to providing a loving and peaceful environment with a focus on respect and family values." />
    <meta property="og:image" content="" />
    <meta name="description" content="Serenity falls is a where the heart calls home. Serenity Falls, owned and operated by the Fiorentino/Bloodwyne family, is a commitment to providing a loving and peaceful environment with a focus on respect and family values." />  
}
<!-- Content -->
<article>

  <h2>About us</h2>

  <p>
      Serenity falls is a where the heart calls home. Serenity Falls, owned and operated by the Fiorentino/ Bloodwyne family, is a commitment to providing a loving and peaceful environment with a focus on respect and family values. We believe in "Family First" and have dedicated our efforts to making our community a place where families can grow and play together in a rich and beautiful environment. The following are a list of what we see to be reasonable expectations of all our residents and guests. We offer role play opportunities based in a modern PG small down community. We expect everyone to respect one another and help us provide the best Second Life experience possible. We hope you love it here as much as we do.
  </p>

</article>

