@{
  ViewBag.Title = "Home Page";
  ViewBag.PageTitle = "home";
}

<section class="last">
  <h2>Wecome to Serenity falls township</h2>
  <p>
    <strong>Serenity falls township</strong>, Where the heart calls home.
										
  </p>
  <p>Serenity falls is a where the heart calls home. Serenity Falls, owned and operated by the Fiorentino/ Bloodwyne family, is a commitment to providing a loving and peaceful environment with a focus on respect and family values.</p>
  @Html.ActionLink("Continue Reading", "About", "Home", null, new {@class= "button icon fa-arrow-circle-right"})
</section>